*{
  font-family: Quicksand;
} 


.me-auto{
  text-decoration: none;
}

/* Navbar CSS */
.MuiStack-root {
  margin-top: 3vh;
  margin-left: 1vh;
}

/* Homepage CSS */
.homePage{
  margin-top: 3vh;
  margin-left:5vh;
  line-height: 0.8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color:black;
  font-weight:600 ;
}

.imgHomepage{
  margin:15vh;
}
.links{
  display: inline-flex;
   
}

/* About CSS */
.about{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  color:black;
  font-weight:600 ;
}

.about p {
  font-size: 20px;
  margin-top: 2vh;
  margin-left:5vh;
  text-align: justify;
  max-width: 90vh;

}
.about h1{
  margin-left:5vh;
}

.skills{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5vh;
}

.skills2{
  margin-left: 5vh;
}

/* Projects CSS */

.cardsprojects{
margin-top: 20vh;
display: flex;
justify-content: space-evenly;
}



/* Contact CSS */
.contact{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  color:black;
  font-weight:600 ;
}

.contact p {
  font-size: 20px;
  margin:5vh;
  text-align: justify;
}
.contact h1 {
  margin:5vh;
}

.contact button {
  margin:5vh;
}


.footer{
  margin-top:22vh;
  margin-left: 30vh;
  
}



