*{
  font-family: Quicksand;

} 

.me-auto{
  text-decoration: none;
}
.homePage{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about p {
  font-size: 20px;
  margin-top: 2vh;
  margin-left:5vh;
  text-align: justify;
  max-width: 90vh;

}
.about h1{
  margin-left:5vh;
}

.skills{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5vh;
}

.skills2{
  margin-left: 5vh;
}

.contact{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact p {
  font-size: 20px;
  margin:5vh;
  text-align: justify;
}
.contact h1 {
  margin:5vh;
}

.contact button {
  margin:5vh;
}



.footer{
  margin-top: 40vh;
}



