*{
  font-family: Quicksand;

} 

.me-auto{
  text-decoration: none;
}
.homePage{
  margin-top: 10vh;
  margin-left:5vh;
  line-height: 0.8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.imgHomepage{
  margin:15vh;
}
.links{
  display: inline-flex;
  
  
}

.about{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about p {
  font-size: 20px;
  margin-top: 2vh;
  margin-left:5vh;
  text-align: justify;
  max-width: 90vh;

}
.about h1{
  margin-left:5vh;
}

.skills{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5vh;
}

.skills2{
  margin-left: 5vh;
}

.projectList{
  display:flex;
  margin-top: 10vh;
  justify-content: center;
}

.card{
  width: 18rem;
  margin:5px;
  padding:5px;
  border:2px solid black;
  border-radius:5px;
}

.contact{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact p {
  font-size: 20px;
  margin:5vh;
  text-align: justify;
}
.contact h1 {
  margin:5vh;
}

.contact button {
  margin:5vh;
}



.footer{
  margin-top: 40vh;
}



